$font-size: 0.8rem;
$font-family: 'Montserrat', sans-serif;
$background-color: #00000f;
$font-color: #eee;
$backNavShowcase: #047adb;
$border-color: #b4becb;

%flex {
  display: flex;
  align-items: center;
}

@mixin transform($prop) {
  transform: $prop;
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -ms-transform: $prop;
}

@mixin flexSpace {
  @extend %flex;
  justify-content: space-between;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.6;
  z-index: 0;
  min-height: calc(100vh - 60px);
  width: 100vw;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $font-color;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: $font-color;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: $background-color;
  box-shadow: 5px 0px 10px 2px rgba($color: $backNavShowcase, $alpha: 0.25);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: $backNavShowcase;
  color: $font-color;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.98);
}
