* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.6;
  z-index: 0;
  min-height: calc(100vh - 60px);
  width: 100vw;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $font-color;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
