.navbar {
  background-color: #047adb;
  z-index: 1;
  height: 70px;
  width: 100%;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .flex {
    @include flexSpace;
  }

  ul {
    display: flex;
  }

  a {
    color: $font-color;
    padding: 10px;
    margin: 0 5px;
  }

  a:hover {
    border-bottom: 2px #eee solid;
  }
}
