$font-size: 0.8rem;
$font-family: 'Montserrat', sans-serif;
$background-color: #222;
$font-color: #eee;

%flex {
  display: flex;
  align-items: center;
}

@mixin flexSpace {
  @extend %flex;
  justify-content: space-between;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
